body {
	background-image: url("https://images.alphacoders.com/119/119151.jpg");
	background-size: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header {
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}

input{
justify-content: center;
}
.logo img {
	height: 100px;
}
  
.title {
	font-size: 24px;
	margin-top: 10px;
}
  
.subtitle {
	font-size: 20px;
	margin-bottom: 20px;
}

main {
	width: 100vw;
	height: 100vh;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	background-color: #f9f9f9;
	padding: 20px;
}
  
.search-form input {
	padding: 10px;
	margin-right: 10px;
	width: 300px;
	background-color: #ffc107;
	color: #fff;
	border: none;
	outline: none;
}
  
.search-form button {
	padding: 10px 20px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.description {
	text-align: center;
	margin-bottom: 20px;
}

.results {
	text-align: center;
}

button[type="submit"]:hover {
	background-color: #ccc;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.footer-content img {
	width: 50px;
	margin-right: 10px;
}

.footer-text {
	text-align: center;
}
